html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100vw;
    height: 100%;
    display: flex;
}

.inputContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.inputText {
    width: 50%;
    height: 30px;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}

.inputTextArea {
    font-size: 20px;
    width: 50%;
    height: auto;
    min-height: 50vh;
    resize: none;
    margin: 20px;
    padding: 10px;
}

.inputImg {
    margin: 20px;
}

.markdown {
    font-size: 1.25rem;
    flex-grow: 1;
    width: 50%;
    height: auto;
    min-height: 50%;
    padding-right: 5%;
    overflow: scroll;
    word-wrap: break-word;
    word-break: break-all;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: solid 1px black;
}
td,th{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
th{
    border-top: 1px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

pre {
    overflow: auto;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgb(40, 44, 52);
    color: rgb(187,187,187);
    padding: 10px;
}

